*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4e5665;
}

.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.header {
  margin-bottom: 83px;
}

.header-top {
  background-image: url('../images/header-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.header-top-inner {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  font-family: 'Georgia';
}

.header-title {
  font-weight: 700;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}

.header-text::before,
.header-text::after {
  content: '';
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header-text::before {
  margin-right: 30px;
}

.header-text::after {
  margin-left: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.menu-list-link {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  padding: 24px 10px 20px;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}

.menu-list-link:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}

.reason {
  margin-bottom: 80px;
}

.reason-title {
  margin-bottom: 22px;
}

.reason-link {
  text-align: right;
}

.reason-link a {
  font-weight: 700;
  color: #ecb84c;
  margin-bottom: 36px;
}

.reason-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason-stats-num {
  margin-top: 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
}

.reason-stats-text {
  margin-top: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.about-title {
  margin-bottom: 13px;
}

.about-text {
  margin-bottom: 71px;
}

.about-item {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: right;
}

.about-box {
  padding: 33px 40px;
  background-color: #fff;
  max-width: 470px;
  position: relative;
}

.about-box::before,
.about-box::after {
  content: '';
  position: absolute;
  width: 33px;
  height: 33px;
}

.about-box::before {
  background-image: url('../images/about-dekor-left.svg');
  /* border-top: 2px solid #ecb84c;
  border-left: 2px solid #ecb84c; */
  top: 19px;
  left: 19px;
}

.about-box::after {
  background-image: url('../images/about-dekor-right.svg');
  /* border-right: 2px solid #ecb84c;
  border-bottom: 2px solid #ecb84c; */
  right: 19px;
  bottom: 19px;
}

.about-box-title {
  font-family: 'Georgia';
  font-size: 24px;
  line-height: 25px;
  color: #4e5665;
  margin-bottom: 20px;
}

.about-item:nth-child(even) {
  background-position: left;
}

.about-item:nth-child(even) .about-box {
  margin-left: auto;
}

/* .about-item:nth-child(even) .about-box::before {
  right: 19px;
  left: auto;
  background-image: none;
  border-top: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
}

.about-item:nth-child(even) .about-box::after {
  left: 19px;
  border-right: none;
  border-left: 2px solid #ecb84c;
} */

.about-item:nth-child(even) .about-box::before {
  background-image: url('../images/about-dekor-left2.svg');
  top: auto;
  left: 19px;
  bottom: 19px;
}

.about-item:nth-child(even) .about-box::after {
  background-image: url('../images/about-dekor-right2.svg');
  right: 19px;
  top: 19px;
}

.photo {
  padding-bottom: 80px;
}

.photo-title {
  margin-bottom: 42px;
}

.photo-text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;
}

.photo-text::after {
  content: '';
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: rgb(208, 212, 216);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.photo-slider {
  max-width: 640px;
  margin: 0 auto;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ecb84c;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  outline: none;
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}
