*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #505050;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.header {
  margin-bottom: 83px;
}

.header-top {
  background-image: url('../images/header-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.header-top-inner {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  font-family: 'Georgia';
}

.header-title {
  font-weight: 700;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
}

.header-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}

.header-text::before,
.header-text::after {
  content: '';
  border-top: 2px solid #ecb84c;
  width: 100%;
}

.header-text::before {
  margin-right: 30px;
}

.header-text::after {
  margin-left: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.menu-list-link {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  padding: 24px 10px 20px;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}

.menu-list-link:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}

.reason {
  margin-bottom: 80px;
}

.reason-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #4e5665;
  margin-bottom: 22px;
}

.reason-link {
  text-align: right;
}

.reason-link a {
  font-weight: 700;
  color: #ecb84c;
  margin-bottom: 36px;
}

.reason-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason-stats-num {
  margin-top: 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
}

.reason-stats-text {
  margin-top: 1px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}
